<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kafka Order Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>Kafka Order Tracker</h1>
    </header>

    <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flash">
            {% for m in messages %}
              <p>{{ m }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </main>
  </body>
</html>
